.current-plan {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f4d91;
}
.current-plan main .plan-details {
  background-color: #fff;
  max-width: 420px;
  padding: 20px;
  border-radius: 20px;
}
.current-plan main .plan-details .plan-name {
  text-transform: capitalize;
}
.current-plan main .plan-details .head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.current-plan main .plan-details .head span {
  background-color: #bfdafb;
  margin: 0 5px;
  padding: 1px 5px;
  font-size: 13px;
  color: #1f4d91;
  font-weight: 600;
  border-radius: 5px;
}
.current-plan main .plan-details .head .cancel {
  color: #1f4d91;
  cursor: pointer;
}
.current-plan main .plan-details .devices {
  color: #cbcbcb;
  text-transform: capitalize;
}
.current-plan main .plan-details .price {
  margin: 10px 0;
  font-size: 18px;
}
.current-plan main .plan-details .change-plan {
  padding: 6px 10px;
  background-color: #fff;
  border: 2px solid #1f4d91;
  border-radius: 5px;
  color: #1f4d91;
  margin: 10px 0;
  cursor: pointer;
}
.current-plan main .plan-details .plan-expiry {
  background-color: #f6f6f7;
  border-radius: 5px;
  font-size: 13px;
  padding: 2px 5px;
}
.red {
  color: #f27171 !important;
  background-color: #eae8e8 !important;
}
.not-selected div {
  text-align: center;
  margin: 20px;
}
.not-selected div a {
  padding: 6px 10px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
}
